$main_color: #e3d5b3
$a_color: #f3ecc3
$b_color: #936b4a
$add_color: #8e95b6
$border_width: 0.2vmax
$border_radius: 0.5vmax

%button
  background-color: $b_color
  display: flex
  justify-content: center
  align-items: center
  border: $border_width solid $b_color
  border-radius: $border_radius
  outline: none
  font-size: 1.2vmax
  font-weight: bold
  color: $main_color

%button:hover
  background-color: $a_color
  border-color: $b_color
  color: $b_color

%list
  overflow: scroll
  background-color: $main_color
  border: $border_width solid $b_color
  border-radius: $border_radius
  padding: 0.3vmax 0.5vmax 0.3vmax 0.5vmax
  font-size: 1.1vmax
  color: inherit
  font-weight: inherit
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  justify-content: flex-start

@keyframes blinker
  50%
    opacity: 0.5

.chat
  width: 40vmax
  height: 30vmax
  border: $border_width solid black
  border-radius: $border_radius
  display: grid
  grid-template-columns: 10vmax auto auto auto
  grid-template-rows: 5vmax auto 2vmax 3vmax 3vmax
  grid-template-areas: "nickname current_chat current_chat current_chat" "user_list messages messages messages" "user_list send select forward" "general_chat text text text" "logout text text text"
  grid-column-gap: 1vmax
  grid-row-gap: 1vmax
  padding: 1vmax
  background-color: $a_color
  color: $b_color
  user-select: none

  .nickname
    grid-area: nickname
    width: auto
    height: auto
    border: $border_width solid $b_color
    border-radius: $border_radius
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5vmax
    font-weight: bold

  .current_chat
    grid-area: current_chat
    width: auto
    height: auto
    border: $border_width solid $b_color
    border-radius: $border_radius
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5vmax
    font-weight: bold

  .general_chat
    grid-area: general_chat
    @extend %button

  .logout
    grid-area: logout
    @extend %button

  .send
    grid-area: send
    @extend %button

  .select
    grid-area: select
    @extend %button

  .forward
    grid-area: forward
    @extend %button

  .user_list
    grid-area: user_list
    overflow: scroll
    @extend %list
    align-items: center

  .current
    color: green


  .user_list::-webkit-scrollbar
    display: none

  .user:hover
    color: $add_color

  .new_message
    animation: blinker 1s linear infinite

  .current:hover
    color: darkgreen

  .messages
    grid-area: messages
    @extend %list

    .message
      width: 100%
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center

      .checker
        display: flex
        justify-content: center
        align-items: center
        width: 1.2vmax
        height: 1.2vmax
        font-size: 150%

    .own_message
      color: green



    .message:nth-child(n + 2)
      margin-top: 0.5vmax

  .messages::-webkit-scrollbar
    display: none

  #text
    grid-area: text
    background-color: $main_color
    border: $border_width solid $b_color
    border-radius: $border_radius
    outline: none
    padding: 0.3vmax 0.5vmax 0.3vmax 0.5vmax
    font-size: 1.1vmax
    color: inherit
    font-weight: inherit
    resize: none

  #text::-webkit-scrollbar
    display: none
