$main_color: #e3d5b3
$a_color: #f3ecc3
$b_color: #936b4a
$add_color: #8e95b6
$border_width: 0.2vmax
$border_radius: 0.5vmax

.enter
  position: relative
  width: 25vmax
  height: 30vmax
  border: $border_width solid black
  border-radius: $border_radius
  background-color: $a_color
  color: $b_color

  .info
    width: 80%
    height: 20%
    margin-top: 5%

    .error
      color: red

    .success
      color: green

  header
    width: 100%
    height: 25%
    font-weight: bold
    display: flex
    justify-content: center
    align-items: center
    font-size: 2vmax

  main
    width: 100%
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: space-around

    .block
      display: flex
      flex-flow: column nowrap
      width: 80%
      font-weight: bold
      font-size: 1.2vmax

    .block:nth-child(2)
      margin-top: 5%

    input
      background-color: $main_color
      border: $border_width solid $b_color
      border-radius: $border_radius
      outline: none
      padding: 0.3vmax 0.5vmax 0.3vmax 0.5vmax
      font-size: 1vmax
      color: inherit
      font-weight: inherit

    input:focus
      border-color: $add_color

  footer
    position: absolute
    width: 100%
    height: 20%
    bottom: 0
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
    align-items: center

    button
      background-color: $b_color
      border: $border_width solid $b_color
      border-radius: $border_radius
      outline: none
      font-size: 1.1vmax
      font-weight: bold
      color: $main_color

    button:hover
      background-color: $a_color
      border-color: $b_color
      color: $b_color
