.app
  .server_status
    position: absolute
    margin: 1vmax

  .connected
    color: green

  .disconnected
    color: red

  .content
    width: 100vw
    height: 100vh
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    font-family: Roboto, sans-serif
    font-size: 1.1vmax
    position: relative

